{{ define "main" }}
  {{ partial "hero.html" . }}
  {{ partial "intro.html" . }}
  {{ partial "section-blocks.html" . }}

{{ range .Params.dividers }}
  {{ if eq .after "section-blocks" }}
    {{ partial "section-dividers.html" . }}
  {{ end }}
{{ end }}
  {{ partial "packages.html" . }}

{{ with .Params.tailored }}

{{ end }}

{{ partial "tailored.html" . }}

{{ with .Params.tailored }}

{{ end }}

{{ range .Params.dividers }}
  {{ if eq .after "packages" }}
    {{ partial "section-dividers.html" . }}
  {{ end }}
{{ end }}

{{ partial "achievements.html" . }}

{{ range .Params.dividers }}
  {{ if eq .after "achievements" }}
    {{ partial "section-dividers.html" . }}
  {{ end }}
{{ end }}
  {{ partial "testimonials.html" . }}
  {{ partial "included.html" . }}
  {{ partial "extra-guests.html" . }}
  {{ partial "engineering.html" . }}
  {{ partial "gallery.html" . }}
  {{ partial "faq.html" . }}
  {{ partial "cta.html" . }}
{{ end }}
